.float-container {
    border: 3px solid rgb(3, 3, 3);
    padding: 150px;
    
}

.float-child {
    width: 40%;
    float: left;
    clear:none;
    padding: 0px;
    border: 2px solid #130101;
    
    margin: 5px;
} 
@media not all and (orientation: lanscape){
    body {
        color:azure;
    }
}
 
